<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mitmachen!</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.13.0/umd/popper.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='mitmachen.js') }}"></script>
</head>
<body class="bg-light">

<div class="container">

    <div class="py-5 text-center">
        <h2>Mitmachen!</h2>
        <p class="lead">Bei Wikipedia gibt es immer was zu tun...</p>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div>
                <label for="category">In welchem Themengebiet kennst du dich aus?</label>
                <input id="category" class="form-control input-lg">
            </div>
            <div class="mb-3">
                <p class="text-small text-muted" id="suggested"></p>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <ul id="articles" class="list-group mb-3">
                <li class="list-group-item">Benutze die Suchfunktion, um ein Themengebiet auszuwählen!</li>
            </ul>
        </div>
        <div class="col-md-3 mb-3">
            <h4>Tutorials</h4>
            <p>Hier könnten Links und Videos eingebettet werden.</p>
        </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-small">
        <p class="mb-1">Served by <a href="https://tools.wmflabs.org/">Wikimedia Toolforge</a></p>
    </footer>
</div>
</body>
</html>
