<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mitmachen!</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.13.0/umd/popper.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='mitmachen.js') }}"></script>
    <script type=text/javascript>
        $URL_FOR_SUGGEST = {{url_for('suggest')|tojson|safe}};
        $URL_FOR_FIND = {{url_for('find')|tojson|safe}};
        $URL_FOR_AUTOCOMPLETE = {{url_for('autocomplete')|tojson|safe}};
    </script>
</head>
<body class="bg-light">

<div class="container">

    <div class="py-5 text-center">
        <h2>{{ text.TITLE }}</h2>
        <p class="lead">{{ text.CLAIM }}</p>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div>
                <label for="category">{{ text.INTRO_QUESTION }}</label>
                <input id="category" class="form-control input-lg" type="text" value="{{ query }}">
            </div>
            <div class="mb-3">
                <p class="text-small text-muted" id="suggested">{{ text.SUGGEST_LOADING }}</p>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <ul id="articles" class="list-group mb-3">
                <li class="list-group-item">{{ text.INTRO_SEARCH }}</li>
            </ul>
        </div>
        <div class="col-md-3 mb-3">
            <h4>Tutorials</h4>
            <p>Hier könnten Links und Videos eingebettet werden.</p>
        </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-small">
        <p class="mb-1"><a href="{{url_for('/') }}">Mitmachen</a> is
            licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a> &ndash;
            Source code and documentation are <a href="https://github.com/ionicsolutions/mitmachen">available on GitHub</a> &ndash;
            Development is coordinated on <a href="https://phabricator.wikimedia.org/tag/mitmachen/">Wikimedia Phabricator</a> &ndash;
            <em>Mitmachen</em> is hosted on <a href="https://tools.wmflabs.org/">Wikimedia Toolforge</a></p>
    </footer>
</div>
</body>
</html>
