<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mitmachen!</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href='https://tools-static.wmflabs.org/fontcdn/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='mitmachen.css') }}">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.13.0/umd/popper.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='mitmachen.js') }}"></script>
    <script type=text/javascript>
        $URL_FOR_SUGGEST = {{url_for('suggest')|tojson|safe}};
        $URL_FOR_FIND = {{url_for('find')|tojson|safe}};
        $URL_FOR_AUTOCOMPLETE = {{url_for('autocomplete')|tojson|safe}};
    </script>
</head>
<body class="bg-light">

<div class="container">

    <div class="py-5 text-center">
        <h2>{{ text.TITLE }}</h2>
        <p class="lead">{{ text.CLAIM }}</p>
        <p class="introtext">{{ text.INTRO_TEXT }}</p>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="mb-3">
                <label for="category">{{ text.INTRO_QUESTION }}</label>
                <input id="category" class="form-control input-lg" type="search" value="{{ query }}">
            </div>
            <div class="mb-3">
                <ul id="articles" class="list-group mb-3">
                </ul>
                <p class="text-small text-muted" id="suggested">{{ text.SUGGEST_LOADING }}</p>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <h4>Du brauchst Hilfe?</h4>
            <p>Lerne die <a href="https://outreachdashboard.wmflabs.org/training/wikipedia-editieren">Grundlagen der Wikipedia</a> in <strong>angeleiteten Trainings.</strong></p>
            <p>Recherchiere in den <strong>Hilfeseiten</strong> in der Wikipedia:</p>
            <ul>
                <li><a href="https://de.wikipedia.org/wiki/Wikipedia:Belege" title="Wikipedia:Belege">Belege ergänzen</a></li>
                <li><a href="https://de.wikipedia.org/wiki/Benutzer:InternetArchiveBot/Anleitung/Archivlink" title="Anleitung für Archivlinks">Links überprüfen</a></li>
                <li><a href="https://de.wikipedia.org/wiki/Hilfe:%C3%9Cbersicht" title="Hilfe:Übersicht">Übersicht aller Hilfeseiten</a></li>
            </ul>
            <p>Finde <strong>konkrete Antworten</strong> auf <a href="https://de.wikipedia.org/wiki/Wikipedia:Fragen_von_Neulingen" title="Wikipedia:Fragen von Neulingen">Fragen von Neulingen</a>.</p>
        </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-small">
        <p class="mb-1"><a href="{{url_for('index') }}">Mitmachen</a> is
            licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a> &ndash;
            Source code and documentation are <a href="https://github.com/ionicsolutions/mitmachen">available on GitHub</a> &ndash;
            Development is coordinated on <a href="https://phabricator.wikimedia.org/tag/mitmachen/">Wikimedia Phabricator</a> &ndash;
            <em>Mitmachen</em> is hosted on <a href="https://tools.wmflabs.org/">Wikimedia Toolforge</a></p>
    </footer>
</div>
</body>
</html>
