<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='new/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='new/css/custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='new/css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='new/css/responsive.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='new/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='new/css/jquery.dataTables.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='new/css/Chart.min.css') }}">
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<title>Mitmachen in Articles</title>

	<script type=text/javascript>
        $URL_FOR_SUGGEST = {{url_for('suggest')|tojson|safe}};
        $URL_FOR_FIND = {{url_for('find')|tojson|safe}};
        $URL_FOR_AUTOCOMPLETE = {{url_for('autocomplete')|tojson|safe}};
        $URL_FOR_TRACKING = {{url_for('tracking')|tojson|safe}};
        $URL_FOR_GETSUBCATEG = {{url_for('getsubcateg')|tojson|safe}};
        $URL_FOR_ARTICLES = {{url_for('second')|tojson|safe}};
        $URL_FOR_SUBARTICLES = {{url_for('getarticlesforsubcategory')|tojson|safe}};
        $URL_FOR_PREVIEW = {{url_for('previewarticle')|tojson|safe}};
    </script>
    <style type="text/css">
    	.main-wrapper{
    		padding-top: 105px!important;
		    padding-left: 30px;
		    padding-right: 30px;
    	}
    	.dataTables_filter input[type="search"]{
		    height: 40px;
		    font-size: 14px;
		    color: #868686;
		    border-radius: 4px;
		    transition: 0.3s all;
		    border: 1px solid rgb(134, 134, 134);
    	}
    	#statstable_wrapper button, button#apply-date-range{
    		font-size: 13px;
		    font-weight: 700;
		    /*padding: 13px 22px;*/
		    -webkit-transition: 0.3s all;
		    -o-transition: 0.3s all;
		    transition: 0.3s all;
		    background: #3669CE;
		    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		    border-radius: 40px;
		    letter-spacing: 0.11em;
		    text-transform: uppercase;
		    color: #FFFFFF;
		    border:none;
		    cursor:pointer;
		    padding: 10px 22px !important;
    		height: 40px;
    	}
    	#statstable_wrapper button:hover, button#apply-date-range:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15); }
    	.main-wrapper{
    		margin-bottom:150px!important;
    	}
    	.download, .dt-buttons{
    		display: inline-block!important;
    	}

    	/*.custom-btn{
    		padding: 10px 22px !important;
    		height: 40px;
    	}*/

    	@media (max-width: 640px){
    		#statstable_filter{
    			text-align:left;
    		}
    	}
    </style>
</head>

<body class="bg-white">
	<div class="header-small">
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ url_for('index') }}">
					<img src="{{ url_for('static', filename='new/img/wikiglobe.png') }}">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar">
			        </button>
			        <div class="search-bar-wrap">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input id="category" type="text" placeholder="Finde ein Thema, zu dem du beitragen kannst">
					</div>
			        <!-- <div class="buttons-wrap">
			          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			            <li class="nav-item">
			              <a class="nav-link" href="#" data-toggle="modal" data-target="#signin">Log in</a>
			            </li>
			            <li class="nav-item">
			              <a class="nav-link" href="#" data-toggle="modal" data-target="#signin">Sign up</a>
			            </li>
			          </ul>
			        </div> -->
			      </div>  
			</nav>
        </div>	

    <div class="main-wrapper article-page-wrap">
    	<div class="form-row" style="margin-bottom:40px;">
			<div class="form-group col-md-5" style="display:inline-block;">
				<input class="form-control" name="min" id="min" type="text" placeholder="Start Date">
			</div>
			<div class="form-group col-md-5" style="display:inline-block;">
				<input class="form-control" name="max" id="max" type="text" placeholder="End Date">
			</div>
			<button id="apply-date-range" class="btn btn-info btn-sm">Apply Date Range</button>
		</div>
        <table id="statstable" class="display table-responsive" style="width:100%">
        	<thead>
        		<tr>
        			<th>ID</th>
        			<th>Type</th>
        			<th>Title</th>
        			<th>Date(mm/dd/yyyy)</th>
        			<th>Weblink</th>
        			<th>Count</th>
        		</tr>
        		<tbody>
			    	{% for item in results %}
			    		<tr>
			    			<td>
			    				{{ item[0] }}
			    			</td>
			    			<td>
			    				{{ item[1] }}
			    			</td>
			    			<td>
			    				{{ item[2] }}
			    			</td>
			    			<td>
			    				{{ item[5] }}
			    			</td>
			    			<td>
			    				{{ item[3] }}
			    			</td>
			    			<td>
			    				{{ item[4] }}
			    			</td>
			    		</tr>
			    	{% endfor %}
        		</tbody>
        	</thead>
        </table>

	</div>

	<div style="padding:30px;">
		<canvas id="myChart" width="400" height="200"></canvas>
	</div>

	<div id="home" class="tab-pane fade">
		<div class="refresh-topic-row">
			<div class="container">	<span class="refresh-topic" id="reftop-pt">Kategorien neu laden</span>
				<span class="user-sel-categories-popular"></span>
			</div>
		</div>
		<section id="slider-block" class="categories-subcategories-popular owl-categories">
			
		</section>
	</div>
	</div>
	</div>
	
	</div>
	<div class="footer-block">
		<div class="container">
			<div class="footer-block-innner">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12">
						<div class="footer-left-info">
							<a class="footer-logo" href="#">
								<img src="{{ url_for('static', filename='new/img/footer-logo.png') }}">
							</a>	<span class="mt-4">Mitmachen ist ein kleines Tool, das Wikipedia-Autorinnen und Autoren hilft, Artikel mit Überarbeitungsbedarf zu finden. Der Code und die Dokumentation sind auf <a href="https://github.com/wmde/mitmachen/blob/c2ca5040e1a0672b6a42b5652568b706802940fd/README.md" target="_blank">GitHub</a> zu finden. Verbesserungsvorschläge und Bugreports können auf <a href="https://phabricator.wikimedia.org/tag/mitmachen" target="_blank">Phabricator</a> eingetragen werden. Die ursprüngliche Version von Mitmachen wurde entwickelt von User:Cirdan und lizensiert unter <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License, Version 2.0</a>. Diese Version steht unter der <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html" target="_blank">Lizenz GNU GPL 2.0</a>.</span>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-6 col-6">
						<div class="footer-listing pad-left-25">
							<h6>Weiterführende Links</h6>
							<ul>
								<li><a target="_blank" href="https://de.wikipedia.org/wiki/Hilfe:%C3%9Cbersicht">Wikipedia Hilfeseiten</a>
								</li>
								<li><a target="_blank" href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>
								</li>
								<li><a target="_blank" href="https://de.wikisource.org/wiki/Hauptseite">Wikisource</a>
								</li>
								<li><a target="_blank" href="https://commons.wikimedia.org/wiki/Hauptseite">Wikimedia Commons</a>
								</li>
								<li><a target="_blank" href="https://www.mediawiki.org/wiki/MediaWiki">MediaWiki</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-bottom-links-row">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-12">
							<ul>
								<li><a target="_block" href="https://meta.wikimedia.org/wiki/Privacy_policy/de">Datenschutz</a>
								</li>
								<li><a target="_block" href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use">Nutzungsbedingungen</a>
								</li>
								<li>
									<a href="/mitmachen/stats">Abrufstatistik</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12">	<a class="basic-link" href="https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_Deutschland/LerneWikipedia" target="_blank">Neu bei Wikipedia?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="help-block">
			<h4>Du brauchst Hilfe?</h4>
			<span><a href="https://outreachdashboard.wmflabs.org/training/wikipedia-editieren" target="_blank">Lerne, wie man Artikel bearbeitet in Online-Trainings</a></span>
			<div class="hide-info">	<span>Finde Hilfe in der Wikipedia:</span>
				<ul>
					<li><a target="_blank" href="https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_Deutschland/LerneWikipedia">Startseite für neue Autorinnen und Autoren</a>
					</li>
					<li><a href="https://de.wikipedia.org/wiki/Hilfe:%C3%9Cbersicht" target="_blank">Übersicht aller Hilfeseiten</a>
					</li>
					<li><a target="_blank" href="https://de.wikipedia.org/wiki/Wikipedia:Fragen_von_Neulingen">Stelle eine Frage zur Mitarbeit in Wikipedia</a>
					</li>
				</ul>	<span>Du willst längerfristig dabei bleiben?<br><a href="https://de.wikipedia.org/wiki/Wikipedia:Mentorenprogramm" target="_blank">Melde dich beim Mentorenprogramm an.</a></span>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="{{ url_for('static', filename='new/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/jquery-ui.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/owl.carousel.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/custom.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/mitmachen.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/dataTables.buttons.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/jszip.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/buttons.html5.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='new/js/Chart.bundle.min.js') }}"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script type="text/javascript">

		$(document).ready(function(){

			$.fn.dataTable.ext.search.push(
				function (settings, data, dataIndex) {
				var min = $('#min').datepicker("getDate");
				var max = $('#max').datepicker("getDate");
				var startDate = new Date(data[3]);
				if (min == null && max == null) { return true; }
				if (min == null && startDate <= max) { return true;}
				if(max == null && startDate >= min) {return true;}
				if (startDate <= max && startDate >= min) { return true; }
					return false;
				}
			);

			var table = $("#statstable").DataTable({
				dom: '<"download">Bfrtip',
				buttons: ['csv']
			});

			$('div.download').text('Download:');

			$( "#min, #max" ).datepicker({
		    	dateFormat: 'mm/dd/yy', 
		        defaultDate: "+1w",
		        changeMonth: true,
		        numberOfMonths: 1,
		        maxDate: new Date(),
		        onSelect: function( selectedDate ) {
		            if(this.id == 'min'){
		              var dateMin = $('#min').datepicker("getDate");
		              var rMin = new Date(dateMin.getFullYear(), dateMin.getMonth(),dateMin.getDate() + 1); // Min Date = Selected + 1d
		              //var rMax = new Date(dateMin.getFullYear(), dateMin.getMonth(),dateMin.getDate() + 31); // Max Date = Selected + 31d
		              $('#max').datepicker("option","minDate",rMin);
		              //$('#max').datepicker("option","maxDate",rMax);                    
		            }

		        }
		    });

		    $("#apply-date-range").on('click', function(e){
	        	var min = $('#min').datepicker({ dateFormat: 'MM-dd-yyyy' }).val();
	            var max = $('#max').datepicker({ dateFormat: 'MM-dd-yyyy' }).val();

	            if(min == "" || max == ""){
	            	return false;
	            }

	            table.draw();

	        })

			var results = {{ results|tojson }};
			var canvas = document.getElementById("myChart");
			var data = {};
			// data['labels'] = [];

			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth() + 1; //January is 0!

			var yyyy = today.getFullYear();
			if (dd < 10) {
				dd = '0' + dd;
			} 
			if (mm < 10) {
				mm = '0' + mm;
			}

			var currentDate = mm + "/" + dd + "/" + yyyy;

			var prevD = new Date(new Date().getTime() - 24 * 30 * 60 * 60 * 1000);
			var prevdd = prevD.getDate();
			var prevmm = prevD.getMonth() + 1;
			var prevyyyy = prevD.getFullYear();

			if(prevdd < 10){
				prevdd = '0' + prevdd;
			}
			if(prevmm < 10){
				prevmm = '0' + prevmm;
			}

			var previousDate = prevmm + "/" + prevdd + "/" + prevyyyy;

			var getDaysArray = function(start, end) {
			    for(var arr=[],dt=start; dt<=end; dt.setDate(dt.getDate()+1)){
			    	var td = new Date(dt);
			    	var tdd = td.getDate();
			    	var mdd = td.getMonth() + 1;
			    	var ydd = td.getFullYear();

			    	if(tdd < 10){
			    		tdd = '0' + tdd;
			    	}
			    	if(mdd < 10){
			    		mdd = '0' + mdd;
			    	}

			    	var ttt = mdd + "-" + tdd + "-" + ydd;
			    	arr.push(ttt);

			        // arr.push(new Date(dt));
			    }
			    return arr;
			};

			var daylist = getDaysArray(new Date(previousDate),new Date(currentDate));
			data['labels'] = daylist;

			var temp = {};
			temp['label'] = "Website Usage Stats";
			temp['backgroundColor'] = "rgba(255,99,132,0.2)";
			temp['borderColor'] = "rgba(255,99,132,1)";
			temp['borderWidth'] = 2;
			temp['hoverBackgroundColor'] = "rgba(255,99,132,0.4)";
            temp['hoverBorderColor'] = "rgba(255,99,132,1)";
            data['datasets'] = [];

            // var statsData = {};
            var stData = new Array(daylist.length).fill(0);

			for(var item in results){
				if(results[item][5] != null && results[item][5] != "" && results[item][5] != undefined){
					if(daylist.indexOf(results[item][5]) != -1){
						var idx = daylist.indexOf(results[item][5]);
						stData[idx] += 1;
					}
				}
			}

			temp['data'] = stData;
			data['datasets'].push(temp);

			var option = {
				animation: {duration:5000}
			};


			var myBarChart = Chart.Bar(canvas,{
				data:data,
				options:option
			});


		})
	</script>
</body>

</html>