@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
/*colors*/
body {
  font-family: 'Montserrat', sans-serif !important;
  color: #333333 !important;
  font-weight: 400;
  background: #f3f3f3; }

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia.eot");
  src: url("../fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.ttf") format("truetype"), url("../fonts/Georgia.svg#Georgia") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/ArialNarrow-Bold.eot");
  src: url("../fonts/ArialNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow-Bold.woff2") format("woff2"), url("../fonts/ArialNarrow-Bold.woff") format("woff"), url("../fonts/ArialNarrow-Bold.ttf") format("truetype"), url("../fonts/ArialNarrow-Bold.svg#ArialNarrow-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

.main-wrapper {
  margin-bottom: 450px;
  padding-top: 98px; }

.pad-top0 {
  padding-top: 0; }

@media (min-width: 1200px) {
  .container {
    max-width: 1115px; } }

.pad-left-25 {
  padding-left: 25px; }

.pad-tb-100 {
  padding: 100px 0px; }
  @media (max-width: 767px) {
    .pad-tb-100 {
      padding: 50px 0px; } }

.pad-tb-90 {
  padding: 90px 0px; }
  @media (max-width: 767px) {
    .pad-tb-90 {
      padding: 50px 0px; } }

.pad-tb-50 {
  padding: 50px 0px; }

p {
  font-size: 14px;
  line-height: 25px; }

.common-list-wrap {
  padding-bottom: 150px; }

.clr_primary {
  color: #389867; }

.bg_dgrey {
  background: #F7F5F5; }

input:focus {
  outline: none; }

a:focus, select:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3669CE; }

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  background-color: #ebebeb; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-toggle:active {
  pointer-events: none; }

.dropdown-toggle::after {
  display: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #868686 !important; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #868686 !important; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #868686 !important; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #868686 !important; }

.banner-block {
  min-height: 304px;
  background: #389867; }
  .banner-block nav, .banner-block .container-fluid {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .banner-block .buttons-wrap {
    margin-top: 13px; }
  .banner-block .banner-info h2, .banner-block .banner-info h6, .banner-block .banner-info p {
    color: #ffffff;
    font-family: Georgia; }
  .banner-block .banner-info h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 8px 0 11px; }
  .banner-block .banner-info h6 {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 400; }
  .banner-block .banner-info p {
    line-height: 22px;
    font-size: 16px;
    position: relative;
    padding-left: 17px; }
    @media (min-width: 992px) {
      .banner-block .banner-info p span {
        display: block; } }
    .banner-block .banner-info p::after {
      position: absolute;
      content: "";
      width: 4px;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      left: 0;
      top: 0; }
  .banner-block .banner-info .search-bar-wrap {
    margin-top: 75px; }

.navbar-expand-lg .navbar-collapse {
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial; }

.navbar-brand {
  padding: 0;
  margin-left: 3px;
  margin-top: -2px;
  margin-right: 6px; }
  @media (min-width: 576px) and (max-width: 767px) {
    .navbar-brand img {
      max-width: 225px; } }

.buttons-wrap {
  min-height: 135px; }
  .buttons-wrap .nav-link {
    /*border: 2px solid rgba(255, 255, 255, 0.2);*/
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 5px 11px !important;
    font-size: 14px;
    font-weight: 500; }
    .buttons-wrap .nav-link:hover {
      background: rgba(255, 255, 255, 0.2); }

.navbar-nav .nav-item .nav-link {
  margin: 0 6px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  .navbar-nav .nav-item .nav-link.active {
    color: #389867; }

.navbar-nav .nav-item.active .nav-link {
  color: #389867; }

nav.navbar.sticky-top {
  position: fixed;
  width: 100%;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  background: #333333;
  padding: 0rem 1rem;
  top: 0;
  z-index: 999; }

.search-bar-wrap {
  position: relative;
  width: 60%; }
  @media (min-width: 992px) {
    .search-bar-wrap {
      margin: 0 auto; } }
  .search-bar-wrap input {
    height: 63px;
    padding-left: 45px;
    font-size: 14px;
    color: #868686;
    border-radius: 4px;
    border: none;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
    .search-bar-wrap input:focus {
      -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important;
      font-weight: 600; }
    .search-bar-wrap input:hover {
      -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); }
    @media (min-width: 992px) {
      .search-bar-wrap input {
        width: 100%; } }
    @media (max-width: 991px) {
      .search-bar-wrap input {
        width: 100%; } }
  .search-bar-wrap i {
    position: absolute;
    left: 15px;
    top: 21px;
    font-size: 19px;
    color: #8C9195; }
  .search-bar-wrap .clear-all {
    color: #4272D1;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 20px;
    top: 21px; }

.tabs-block {
  padding: 24px 0px 20px;
  overflow: hidden;
  background: #f3f3f3; }

.nav-tabs {
  border-bottom: none;
  position: relative; }
  .nav-tabs .nav-link {
    font-size: 12px;
    line-height: 18px;
    color: #3669CE;
    padding: 0.8rem 1.7rem;
    text-transform: uppercase;
    background: #fff;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 6px;
    margin-right: 25px;
    letter-spacing: 0.1em;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
    .nav-tabs .nav-link.active {
      color: #fff;
      background-color: #3669CE;
      border-bottom: 2px solid #c2c2c2;
      border-color: #c2c2c2;
      border: 2px solid transparent !important; }
    .nav-tabs .nav-link:hover {
      border: 2px solid transparent;
      -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15); }
  .nav-tabs .refresh-topic {
    color: #4083F7;
    position: absolute;
    right: 0;
    top: 0px;
    cursor: pointer; }

.common-grid-listing {
  padding: 0; }
  .common-grid-listing li, .common-grid-listing .item {
    list-style: none;
    float: left;
    margin: 6px 6px; }
    .common-grid-listing li a, .common-grid-listing li span, .common-grid-listing .item a, .common-grid-listing .item span {
      font-size: 15px;
      line-height: 23px;
      color: #4E4E4E;
      font-weight: 500;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      padding: 12px 7px 7px 10px;
      cursor: pointer;
      border: 1px solid #EDEDEE;
      display: block;
      background: #fff;
      height: 104px;
      border-radius: 2px;
      position: relative; }
      .common-grid-listing li a:after, .common-grid-listing li span:after, .common-grid-listing .item a:after, .common-grid-listing .item span:after {
        content: "";
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: transparent;
        left: 0; }
      .common-grid-listing li a:hover, .common-grid-listing li span:hover, .common-grid-listing .item a:hover, .common-grid-listing .item span:hover {
        text-decoration: none;
        background: #238352;
        color: #fff; }
        .common-grid-listing li a:hover .articles-info, .common-grid-listing li span:hover .articles-info, .common-grid-listing .item a:hover .articles-info, .common-grid-listing .item span:hover .articles-info {
          color: #fff; }
      .common-grid-listing li a .articles-info, .common-grid-listing li span .articles-info, .common-grid-listing .item a .articles-info, .common-grid-listing .item span .articles-info {
        position: absolute;
        right: 10px;
        bottom: 4px;
        font-size: 12px;
        color: #A5A5A5; }
    .common-grid-listing li.active a, .common-grid-listing li.active span, .common-grid-listing .item.active a, .common-grid-listing .item.active span {
      -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
      border: 1px solid #EDEDEE; }
    .common-grid-listing li.active span::after, .common-grid-listing .item.active span::after {
      background: #238352; }
  .common-grid-listing .item {
    width: 100%; }

.load-more-link {
  display: inline-block;
  margin-top: 30px;
  font-weight: 500;
  font-size: 15px;
  color: #4083F7;
  cursor: pointer; }

.footer-block {
  background: #EBEBEB;
  padding: 40px 0px 10px;
  position: relative; }
  .footer-block .footer-left-info span {
    color: #000;
    font-size: 12px;
    line-height: 17px;
    display: block; }
    @media (min-width: 768px) {
      .footer-block .footer-left-info span {
        width: 93%; } }
  @media (min-width: 1200px) {
    .footer-block .footer-block-innner {
      margin-left: -50px; } }

.footer-listing h6 {
  font-size: 14px;
  color: #232323;
  font-weight: 500;
  margin-bottom: 18px; }

.footer-listing ul {
  padding: 0; }
  .footer-listing ul li {
    list-style: none; }
    .footer-listing ul li a {
      color: #808080;
      font-size: 12px;
      font-weight: 500; }

.footer-bottom-links-row ul {
  padding: 0; }
  .footer-bottom-links-row ul li {
    list-style: none;
    display: inline-block;
    margin: 0 13px; }
    .footer-bottom-links-row ul li:first-child {
      margin-left: 0; }
    .footer-bottom-links-row ul li a {
      color: #232323;
      font-size: 12px;
      font-weight: 500; }

.footer-bottom-links-row .basic-link {
  font-size: 12px;
  color: #232323;
  font-weight: 500;
  padding-left: 25px; }

.help-block {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 8px 8px 0px 0px;
  padding: 15px 0 4px 19px;
  min-width: 353px;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  z-index: 99; }
  .help-block span {
    font-size: 12px;
    color: #000;
    width: 100%; }
    .help-block span a {
      color: #3669C9; }
  .help-block h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    font-family: Georgia;
    color: #000; }
  .help-block ul {
    padding: 0;
    margin-top: 10px; }
    .help-block ul li {
      list-style: none;
      line-height: 20px;
      position: relative;
      padding-left: 10px; }
      .help-block ul li a {
        font-size: 12px; }
      .help-block ul li::before {
        content: "";
        height: 4px;
        width: 4px;
        background: #000;
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 9px; }
  .help-block .hide-info {
    height: 0;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    transition: 0.3s all; }
  .help-block:hover {
    cursor: pointer; }
    .help-block:hover .hide-info {
      height: 137px; }

.Carousel-slider-block .SlickCarousel .Slick-Next {
  background-image: url(../img/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 10px;
  top: 10%;
  height: 88px;
  width: 60px;
  cursor: pointer; }
  .Carousel-slider-block .SlickCarousel .Slick-Next:hover {
    opacity: 0.9; }
  @media (max-width: 575px) {
    .Carousel-slider-block .SlickCarousel .Slick-Next {
      right: 5px; } }

.Carousel-slider-block .SlickCarousel .Slick-Prev {
  background-image: url(../img/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 10px;
  top: 10%;
  height: 88px;
  width: 60px;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  cursor: pointer; }
  .Carousel-slider-block .SlickCarousel .Slick-Prev:hover {
    opacity: 0.9; }
  @media (max-width: 575px) {
    .Carousel-slider-block .SlickCarousel .Slick-Prev {
      left: 5px; } }

.filter-row .article-found {
  font-size: 14px;
  color: #4E4E4E;
  font-weight: 500; }
  @media (max-width: 575px) {
    .filter-row .article-found {
      margin-bottom: 6px;
      display: inline-block;
      max-width: 150px;
      line-height: 18px; } }

.filter-row .select-box-wrap {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .filter-row .select-box-wrap .filter-title {
    font-size: 14px;
    color: #000;
    margin-right: 15px; }

.btn.common-btn {
  font-size: 12px;
  text-transform: uppercase;
  color: #868686;
  font-weight: 500;
  background: #f0f0f0;
  line-height: 11px;
  border-radius: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  .btn.common-btn:hover {
    background: #389867;
    color: #fff; }
  @media (max-width: 575px) {
    .btn.common-btn {
      font-size: 10px; } }
  .btn.common-btn::after {
    opacity: 0;
    font-size: 0;
    border: 0; }

.btn.preview-article-link {
  color: #3669CE;
  background: transparent;
  font-size: 14px;
  text-transform: capitalize; }
  @media (max-width: 575px) {
    .btn.preview-article-link {
      font-size: 12px; } }

.links-row {
  padding: 0; }
  .links-row li {
    list-style: none;
    display: inline-block;
    margin: 0 5px; }
    .links-row li:first-child {
      margin-left: 0; }
    @media (max-width: 575px) {
      .links-row li {
        margin: 0 1px 4px; } }

.list-box {
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  padding: 20px 15px 5px 30px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all; }
  .list-box:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 24px rgba(35, 35, 35, 0.2);
    box-shadow: 0px 4px 24px rgba(35, 35, 35, 0.2); }
  @media (max-width: 575px) {
    .list-box {
      padding: 15px 15px 5px 15px; } }
  .list-box.list-box-new {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .list-box.list-box-new:hover {
      background: #F9F9F9;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .list-box.list-box-new .links-row li {
      margin: 0 15px; }
      .list-box.list-box-new .links-row li a {
        background: transparent;
        padding: 0;
        font-size: 14px;
        font-family: Arial Narrow;
        color: #868686; text-transform:uppercase;}
        .list-box.list-box-new .links-row li a:hover {
          color: #868686;
          text-decoration: underline; }
      .list-box.list-box-new .links-row li:first-child {
        margin-left: 0; }
    .list-box.list-box-new p {
      margin-bottom: 10px; }
      .list-box.list-box-new p span {
        margin-right: 10px; }
    .list-box.list-box-new .preview-article-link {
      color: #3669CE;
      font-weight: 500; }
  .list-box h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #3669CE;
    margin-bottom: 13px; }
    .list-box h3 a {
      color: #3669CE;
      line-height: 20px;
      display: inline-block; }
      .list-box h3 a:hover {
        border-bottom: 1px solid #3669CE;
        text-decoration: none; }
  .list-box p {
    font-weight: 400;
    font-size: 14px;
    line-height: 138%;
    color: #4E4E4E;
    margin-bottom: 23px; }

.tooltip-inner {
  max-width: 332px;
  padding: 7px 8px;
  color: #fff;
  text-align: left;
  border-radius: 3px;
  font-size: 13px;
  line-height: 15px; }
  .tooltip-inner::before {
    opacity: 0 !important; }

.custom-select-box {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  width: 183px;
  font-size: 14px;
  font-weight: 500;
  height: 33px !important;
  font-weight: 500;
  cursor: pointer;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  padding: 5px 0 0 10px; }
  @media (max-width: 340px) {
    .custom-select-box {
      width: 160px; } }

.select-box-wrap {
  position: relative; }
  .select-box-wrap .select-subitems {
    display: none;
    position: absolute;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    max-width: 357px;
    min-width: 357px;
    top: 40px;
    right: 0;
    padding: 20px 0px;
    z-index: 9; }
    @media (max-width: 400px) {
      .select-box-wrap .select-subitems {
        max-width: 100%;
        min-width: 291px; } }
    .select-box-wrap .select-subitems .show-all-title {
      font-size: 12px;
      color: #000;
      background-position: 8% center;
      background-size: 12px;
      display: block;
      background-image: none;
      padding-left: 13px;
      color: #4E4E4E;
      font-weight: 600;
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 10px;
      line-height: 25px; }
    .select-box-wrap .select-subitems ul {
      padding: 0; }
      .select-box-wrap .select-subitems ul li {
        list-style: none;
        border-bottom: 1px solid #E6E6E6;
        padding: 15px 13px 15px; }
        .select-box-wrap .select-subitems ul li:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0; }
        .select-box-wrap .select-subitems ul li h6, .select-box-wrap .select-subitems ul li p {
          font-size: 12px; }
        .select-box-wrap .select-subitems ul li h6 {
          color: #4E4E4E;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 4px; }
        .select-box-wrap .select-subitems ul li p {
          color: #868686;
          margin: 0;
          line-height: 17px;
          padding-left: 25px; }
        .select-box-wrap .select-subitems ul li .custom-control {
          min-height: auto; }
        .select-box-wrap .select-subitems ul li .custom-control-label::before {
          top: 0; }
        .select-box-wrap .select-subitems ul li .custom-control-label::after {
          top: 0; }
        .select-box-wrap .select-subitems ul li:hover {
          cursor: pointer;
          background: #FAFAFA; }

.modal .modal-dialog {
  max-width: 1215px; }

.modal .modal-header {
  border: none; }

.modal .close:focus {
  outline: none; }

.modal .modal-content {
  background-color: #F3F3F3;
  padding: 0 45px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .modal .my-interest-listing li {
    height: 195px;
    width: 199px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .modal .my-interest-listing li {
    height: 195px;
    width: 198px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .modal .my-interest-listing li {
    height: 200px;
    width: 214px; } }

.pop-up-heading {
  padding-top: 6px; }
  .pop-up-heading h2 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Georgia'; }
  .pop-up-heading p {
    font-size: 14px;
    color: #232323;
    font-weight: 500; }

.my-interest-listing {
  padding: 0;
  overflow: hidden;
  margin-left: -12px;
  margin-right: -12px; }
  .my-interest-listing li {
    background: #ffffff;
    border-radius: 6px;
    height: 249px;
    width: 253px;
    float: left;
    list-style: none;
    text-align: center;
    padding: 17px 0 10px 0;
    cursor: pointer;
    margin: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
    .my-interest-listing li:hover {
      -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15); }
    .my-interest-listing li span {
      font-size: 16px;
      color: #232323;
      line-height: 16px;
      display: block;
      padding: 0px 5px;
      margin-top: 22px;
      font-family: 'Georgia'; }
    .my-interest-listing li .interest-icon {
      margin-bottom: 6px;
      min-height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .my-interest-listing li.active {
      background: #238352; }
      .my-interest-listing li.active span {
        color: #fff; }
      .my-interest-listing li.active .interest-icon svg path {
        fill: #fff; }

.get-started-btn-row {
  margin: 45px 0 0;
  float: left;
  width: 100%; }
  .get-started-btn-row .skip-link {
    float: right;
    font-size: 19px;
    color: #6DA67E;
    font-weight: 600;
    margin: 5px 12px 0 0;
    cursor: pointer; }

.btn.get-started-btn {
  font-size: 13px;
  font-weight: 700;
  color: #303030;
  padding: 13px 22px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: #3669CE;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #FFFFFF; }
  .btn.get-started-btn:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15); }

.show-all-title {
  /*background-image: url(../img/tik.png);*/
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 14px;
  color: #4E4E4E;
  font-weight: 600; }

.custom-dropdown {
  width: 290px;
  top: -76px;
  background: #4E4E4E;
  padding: 9px 15px 0 15px;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px; }
  .custom-dropdown::after {
    content: "";
    height: 12px;
    width: 25px;
    background-image: url(../img/tooltip-arrow.png);
    position: absolute;
    background-repeat: no-repeat; }
  @media (max-width: 400px) {
    .custom-dropdown {
      min-width: 293px;
      left: -17px !important; } }
  .custom-dropdown h6 {
    color: #FFB900;
    text-transform: uppercase;
    font-size: 12px; }
  .custom-dropdown p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 11px !important; }

.interest-select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .interest-select-box .filter-title {
    font-size: 15px;
    line-height: 18px;
    color: rgba(35, 35, 35, 0.6);
    font-weight: 500;
    padding: 1rem 2rem; }
  .interest-select-box .custom-select-box {
    margin-top: 10px; }
  .interest-select-box .select-subitems {
    max-width: 224px;
    min-width: 224px;
    top: 44px; }
    .interest-select-box .select-subitems ul li {
      font-size: 12px;
      color: #808080;
      padding: 0 12px 15px; }
      .interest-select-box .select-subitems ul li img {
        margin-right: 5px; }
      .interest-select-box .select-subitems ul li:first-child {
        border-top: 1px solid #E6E6E6;
        padding-top: 15px;
        margin-top: 5px; }
    .interest-select-box .select-subitems .edit {
      color: #5691F7;
      font-weight: 600;
      font-size: 12px;
      display: block;
      text-align: center;
      border-top: 1px solid #E6E6E6;
      padding-top: 12px;
      margin-top: 9px;
      cursor: pointer; }
    .interest-select-box .select-subitems .show-all-title {
      font-size: 14px;
      background-image: none;
      padding-left: 36px; }

.header-small {
  background: #238352; }
  .header-small .buttons-wrap {
    min-height: auto; }
  .header-small .search-bar-wrap input {
    height: 56px; }
  .header-small .search-bar-wrap i {
    top: 18px; }

.navbar.navbar-expand-lg .container {
  display: block; }

.navbar.navbar-expand-lg .navbar-brand {
  float: left; }

.navbar.navbar-expand-lg .buttons-wrap {
  float: right; }

.navbar.navbar-expand-lg .search-bar-wrap {
  float: left;
  margin-left: 25px; }

.refresh-topic {
  font-size: 14px;
  color: #3669CE;
  font-weight: 500;
  margin-bottom: 5px; }

.Carousel-slider-block {
  margin: 0 -6px; }

@media (min-width: 576px) {
  .common-list-wrap .list-box.list-box-new {
    margin-left: -30px;
    margin-right: -30px; } }

.common-list-wrap .filter-row {
  margin-top: 35px; }

.tab-content .common-grid-listing {
  overflow: hidden;
  margin: 0 -6px; }

.banner-block.header-small .search-bar-wrap {
  margin-left: 13px; }

.refresh-topic-row span {
  font-size: 14px;
  font-weight: 500; }
  .refresh-topic-row span a {
    color: #3669CE; }

.refresh-topic-row .refresh-topic {
  margin-right: 20px;
  cursor: pointer; }
  .refresh-topic-row .refresh-topic:hover {
    text-decoration: underline; }

.close-btn {
  float: right;
  background: transparent;
  font-weight: 600;
  font-size: 15px;
  margin-right: -55px; }
  .close-btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.header-small nav.navbar.navbar-expand-lg {
  position: fixed;
  width: 100%;
  background: #238352;
  top: 0;
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 20px; }

/*.header-small .banner-info {
  padding-top: 120px; }*/
  /*@media (max-width: 767px) {
    .header-small .banner-info {
      padding-top: 92px; } }*/
  /*@media (min-width: 992px) {
    .header-small .banner-info {
      padding-left: 118px; } }*/
  /*@media (min-width: 768px) and (max-width: 991px) {
    .header-small .banner-info {
      padding-left: 98px; } }*/

.refresh-topic-row {
  margin-bottom: 5px;
  padding-top: 16px; }

.article-page-wrap .tabs-block {
  padding-bottom: 30px; }

.owl-carousel .owl-nav.disabled {
  display: block !important; }

.owl-carousel .owl-next {
  position: absolute;
  right: 10px;
  top: 17%; }
  .owl-carousel .owl-next:focus {
    outline: none; }
  .owl-carousel .owl-next span {
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 55px;
    height: 48px;
    display: inline-block;
    font-size: 0;
    border-radius: 50%; }
    .owl-carousel .owl-next span:hover {
      opacity: 0.8; }
    @media (max-width: 767px) {
      .owl-carousel .owl-next span {
        display: none; } }

.owl-carousel .owl-prev {
  position: absolute;
  left: 17px;
  top: 17%; }
  .owl-carousel .owl-prev:focus {
    outline: none; }
  .owl-carousel .owl-prev span {
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 55px;
    height: 48px;
    display: inline-block;
    font-size: 0;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    cursor: pointer;
    border-radius: 50%; }
    .owl-carousel .owl-prev span:hover {
      opacity: 0.8; }
    @media (max-width: 767px) {
      .owl-carousel .owl-prev span {
        display: none; } }
  .owl-carousel .owl-prev.disabled {
    display: none; }

.owl-carousel .owl-dots {
  display: none; }

.banner-block .navbar-brand {
  margin-left: -3px;
  margin-right: 1rem; }


.ui-autocomplete {
    max-width: 772px;
    background: #fff;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 0;
    max-height: 300px;
    overflow-x: auto;
    padding: 3px 0 0 0;
    z-index: 999;
    width: 100% !important;
    position: fixed !important;
    top: 85px !important;
}

.ui-autocomplete .ui-menu-item {
    font-size: 15px;
    list-style: none;
    font-family: Montserrat;
    color: #232323;
    padding: 12px 0 12px 19px;
    cursor: pointer;
    transition: 0.3s all;
    display: block;
}

.ui-autocomplete::-webkit-scrollbar { width: 0 !important }

.ui-autocomplete { overflow: -moz-scrollbars-none; }

.banner-block.header-small nav.navbar.navbar-expand-lg {  
    position: relative;
}
.header-small .banner-info {
    margin-top: -5px;
}

.common-list-wrap .filter-row {
    min-height: 24px;
}

@media (min-width:1200px) {
  .banner-block .banner-info p {
      max-width: 780px;
      width: 780px;
  }
}

.owl-item span{
  word-break:break-all;
}

@media (min-width:1200px) {
  nav.navbar.navbar-expand-lg .container-fluid {
    max-width: 1316px;
  }
}